<div class="container h-fit justify-center mx-auto p-6 lg:flex lg:items-center" *ngIf="hero">
    <div>
        <h1 class="text-3xl text-white text-center mb-3">{{hero.name}}</h1>

        <div class="grid md:grid-rows-2 md:grid-flow-col gap-4">
            <div class="flex justify-center lg:justify-center row-span-3">            
                <img  [src]="hero.thumbnail.path + '/portrait_uncanny.' + hero.thumbnail.extension" alt="{{hero.name}}" class="w-fit lg:h-full md:h-[97%] rounded-md">
            </div>
            <div class="border-2 max-w-2xl  border-slate-800 rounded-lg lg:col-span-2 ">
               <div class=" text-white p-3">
                    <p class="text-center lg:text-left"><b>Brief description: </b></p>
                    <p>{{hero.description}}</p>
               </div>
            </div>
               
            <div class="border-2 lg:col-span-2 lg:row-span-2 max-h-96 border-slate-800 rounded-md ">
                <p class="text-white text-xl text-center w-full">Some comic apereances</p>
                <div class="hero-list scroll flex  ">
                    <div class="h-52 lg:w-[40rem] flex justify-center w-64" [ngClass]="{'w-full' : loadingComics}" >
                        <div *ngIf="loadingComics" class="text-center w-100 flex justify-center text-white text-4xl my-4" >
                            <img class="w-24 h-24" src="assets/img/spinning-loading.gif" alt="">
                        </div>
                        <div *ngIf="!loadingComics && comics">
                            <div  *ngFor="let comic of comics" class="hidden m-4 shadow-md hover:shadow-white rounded-lg lg:inline-block w-32 overflow-ellipsis"
                            matTooltip="{{comic.title}}">
                                <img [src]="comic.thumbnail.path + '/portrait_uncanny.' + comic.thumbnail.extension" alt="{{comic.name}}" class="w-32 h-40 mx-auto rounded-md">
                              </div>
                            <div  *ngFor="let comic of comics" class="lg:hidden m-4 shadow-md hover:shadow-white rounded-lg inline-block w-32 overflow-ellipsis"
                            >
                                <img [src]="comic.thumbnail.path + '/portrait_uncanny.' + comic.thumbnail.extension" alt="{{comic.name}}" class="w-32 h-40 mx-auto rounded-md">
                              </div>
                        </div>
                        <div *ngIf="!loadingComics && comics.length < 1" class="flex align-middle">
                            <p class="text-white text-2xl">No comics apereances found</p>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    
</div>
